/*****************TAG SELECTORS *****************/
body{
  text-align: center;
  margin: 0;
}

hr {
   border: none;
   height: 0px;
   width: 5%;
   border-style: dotted none none;
   border-color: grey;
   border-width: 7px;
 }

 img{
   width: 40%;
 }
/*****************CLASS SELECTORS*****************/
/* index.html */
.table-style{
  position: relative;
  margin: auto;
}

.intro-format{
  margin: 0;
  font-size: 1rem;
  line-height: 2.2;
}

.nav-item {
  padding: 0 10px;
}

.carousel-item {
  padding: 0 15%;
}

.carousel {
  width: 70%;
  position: relative;
  margin: auto;
}

/* acupuncture.html */
.acupuncture-image{
  width: 80%;
  margin-top: 10px;
}

/* moxibustion-cupping.html */
.moxibustion-image{
  width: 80%;
  margin-top: 10px;
}

.cupping-image{
  width: 80%;
  margin-top: 10px;
}

/*****************ID SELECTORS*****************/
/* index.html */
#page-menu {
  background-color: #1d5464;
  color: #fac70b;
  padding: 0.1rem;
}

#slide-show {
  background-color: #127681;
  color: #fffafa;
  text-align: center;
}

#introduction{
  background-color: #21174a;
  color: #fffafa;
  padding: 3rem 2rem;
}

#services{
  background-color: #ae7c7c;
  color: #fffafa;
  padding: 7rem;
  text-align: center;
}

#staff-introduction{
  background-color: #3e3838;
  color: #fffafa;
  padding: 7rem;
}

#QA{
  background-color: #6cbbb3;
  color: #fffafa;
  padding: 7rem;
}

#business-hours{
  background-color: #35477d;
  color: #fffafa;
  padding: 7rem;
}

#map{
  background-color: #6c5b7b;
  color: #fffafa;
  padding: 2rem;
}

#contact{
  background-color: #c06c84;
  color: #fffafa;
  padding: 2rem;
}

#contact{
  background-color: #c06c84;
  color: #fffafa;
  padding: 4rem;
}

#sns{
  background-color: #f67280;
  color: #fffafa;
  padding: 5rem;
}

#footer{
  background-color: #00a8b5;
  color: #fffafa;
  padding: 1%;
}

/* acupuncture.html */
#acupuncture-description {
  padding: 7% 15%;
}

/* moxibustion-cupping.html */
#moxibustion-cupping-description{
  padding: 7% 15%;
}

/* oilMassage.html */
#oilMassage-image{
  padding: 7% 15%;
}
